In [1]:
import pandas as pd
df_clust = pd.read_csv('address_clust.csv')
df_stats = pd.read_csv('address_stats.csv')

In [2]:
# remove duplicates
df_stats.drop_duplicates(inplace=True)

In [3]:
# merge two dataframes by address_id
df = pd.merge(df_stats, df_clust, on='address_id', how='outer')

In [4]:
# replace NaN values as 0
df['cluster_id'] = df['cluster_id'].fillna(0)

In [5]:
# choose rows only with cluster_id equal 1 or 2
df = df.loc[(df['cluster_id'] == 1) | (df['cluster_id'] == 2)]

In [6]:
# group data by transaction_id if only this group has 1 and 2 in cluster_id
df = df.groupby('transaction_id').filter(lambda x: any(x['cluster_id'] == 2))
df = df.groupby('transaction_id').filter(lambda x: any(x['cluster_id'] == 1))

In [7]:
# take a look on some random transaction
df.loc[df['transaction_id'] == 21646439]

             id  address_id  transaction_id   received       sent  cluster_id
322    98650530    46529090        21646439        0.0  2000000.0         1.0
6072   98650532    49604329        21646439        0.0  2000000.0         1.0
22543  98650531    52470700        21646439        0.0  1276500.0         1.0
22812  98650533    52495552        21646439  4007000.0        0.0         2.0
22834  98650534    52497905        21646439  1259500.0        0.0         1.0

In [8]:
# cluster №1 sent no more than this value of bitcoins to cluster №2
df.loc[df['cluster_id'] == 1]['sent'].sum() / 10 ** 8

84.0173524

In [9]:
df.loc[df['cluster_id'] == 2]['received'].sum() / 10 ** 8

513.16897286

In [10]:
df.loc[df['cluster_id'] == 2]['sent'].sum() / 10 ** 8

515.62110147

In [11]:
# cluster №2 sent no more than this value of bitcoins to cluster №1
df.loc[df['cluster_id'] == 1]['received'].sum() / 10 ** 8

86.4269334